alembic
aniso8601
annotated-types
attrs
blinker
click
Flask
flask-restx
Flask-WTF
greenlet
importlib_resources
itsdangerous
Jinja2
jsonschema
jsonschema-specifications
Mako
MarkupSafe
loguru
mccabe
packaging
pathspec
pillow
pip-check-reqs
platformdirs
psycopg2
pycodestyle
pydantic
pydantic-settings
pydantic_core
pyflakes
python-dotenv
pytz
referencing
rpds-py
SQLAlchemy
tomli
typing-inspection
typing_extensions
Werkzeug
WTForms
pre-commit
ruff
pytest
pytest-asyncio
